<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BasisVR Services{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>BasisVR Utility Services</h1>
            <nav>
                <a href="{{ path('basisvr_event_index') }}">Event Board</a> |
                <a href="{{ path('basisvr_asset_index') }}">Asset CDN</a>
            </nav>
            <hr>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
